/* used by all help files */

body {
	margin:20px 10px 20px 10px;
	font:400 13px 'Open Sans', sans-serif;

}

h1 {
	font-size:18px;
	font-weight:800;
	color:#666666; margin-top:0px; margin-bottom:20px;
}

div { margin-bottom:30px; }