
/* * { margin: 0; } */
html, form { height:100%; }		
body {
	margin:0;
	padding:0;

	height:100%;

	position: relative; /* needed for child elements to key off of*/
	font:400 13px 'Open Sans', sans-serif;
}



/* POPOVER MENU */

.popOverMenu {
	display:none;	
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:left;
	background-color: white;
	border: solid 2px #bfc5ca;
	border-radius: 6px;
	box-shadow: 0px 2px 6px #d7d7d7;
	z-index: 100;
}
.popoverPointer {
	background: url(../images/popupPointUp.gif) no-repeat scroll;
	width: 24px;
	height: 14px;
	position: absolute;
}


		
#Container {
	/*position:relative;*/
	min-height: 100%;
	margin-bottom: -42px; /* equal to footer height */
	min-width:700px;

}
#Container:after {
	content: "";
	display: block;
}
#Container:after {
	height: 42px; /* equal to footer height */
}	


		
/* MAIN NAV, LEFT */
		
#MainNav {
    position: relative; /* needed for child elements to key off of*/
    height: 40px;
    padding: 0px 30px;
    background-color: #24235a;
    border-bottom: solid 1px #c2c3c4;
    color: white;
    box-shadow: 0px 0px 6px #808080;
}

#Logo {
    /*top: -12px;*/
	font:22px 'LatoBold', sans-serif;
	height:40px;
	line-height:40px;
}
    #Logo a { text-decoration: none; color:white; }
        #Logo a:hover {
            color: white;
            text-decoration: none;
        }

#MainNav i.separator {
	background: url(../images/breadcrumbSeperator.gif) no-repeat scroll;
	width: 11px;
	height: 40px;
	position: absolute;
	margin-left: 10px;
}

#MainNav a.breadcrumb {
	position: relative;
    top: -2px;
	margin-left:40px;
	font:600 16px 'Open Sans', sans-serif;
	color:white;
	transition:color 0.3s;
}
#MainNav a.breadcrumb:hover {
	text-decoration:none;
	color:red;
	transition:color 0.3s;
}		
		
		
/* MAIN NAV, RIGHT */
		
.navRightSide {
    float: right;
    text-align: right;
}

		
ul.navItems li {
	list-style-type: none;
	float:left;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	position:relative;
	top:-4px;
	margin-left:20px;
}
ul.navItems li span {
	vertical-align:middle;
}		
ul.navItems li i {
	vertical-align:middle;
	margin-right:3px;
	/*background-color:red;*/
}
		
		
/* help link */
ul.navItems li.helpLink {
    margin-right: 20px;
}
ul.navItems li.helpLink a {
    text-decoration: none;
    color: #9090ae;	
	transition:color 0.6s;
}
ul.navItems li.helpLink a:hover {
	color:white;
	transition:color 0.3s;
}		



/* notifications link */
ul.navItems li.notificationsLink a {
	text-decoration: none;
    color: #9090ae;	
	transition:color 0.3s;
}
ul.navItems li.notificationsLink a:hover {
	color:white;
	transition:color 0.3s;
}
ul.navItems li.notificationsLink i {
	margin-right: 20px;
}
ul.navItems li.notificationsLink span {
	display:none;
}
ul.navItems li.notificationsLink span.count {
	display:inline-block;
	top:-3px;
	left:12px;
	padding: 0px 3px 0px 2px;
	background-color:#d50f17;
	border-radius:3px;
	font:800 10px 'Open Sans', sans-serif;
	color:white;
	text-shadow: 1px 1px 1px black;
	position:absolute;
	box-shadow: -1px 1px 2px black;
}



/* NOTIFICATIONS */

#Notifications {
	width: 320px;
	position:absolute;
    top: 37px;
    left: -277px;
	padding-top: 0px;
    padding-bottom: 0px;
}
#Notifications i {
	top: -14px;
    left: 268px;		
}
#Notifications .popoverHeader {
	display: block;
    height: 31px;
	line-height:31px;
	vertical-align: middle;
	padding-top:10px;
	padding-left: 15px;
	font-family: Verdana, Arial, sans-serif;
	font-size:11px;
	font-weight:bold;
    color: #2d3d4e;		
	border-bottom:solid;
	border-width:1px;
	border-color:#E5E5E5;
}
/*#Notifications .popoverHeader:first-of-type {
	padding-top:0px;
}*/


#Notifications .popoverContent {
	padding-top: 0px;
}
#Notifications a:link  {
    display: block;
    height: 31px;
	line-height:31px;
	vertical-align: middle;
    padding-left: 15px;	
	color:black;
}
#Notifications a:hover {
    text-decoration: none;
    background-color: #E3F2FF;
	color:black;
}
#Notifications a:visited {
	color:black;
}

#Notifications #EmptyNotifications {
	height: 60px;
	line-height:60px;	
    padding-left: 15px;	
	color:black;
}

#Notifications .footerLink {
	display: block;
	margin-top:12px;
	padding-left:0px;
	border-top:solid;
	border-width:1px;
	border-color:#E5E5E5;
	font-family: Verdana, Arial, sans-serif;
	font-size:11px;
	font-weight:bold;
    color: #2d3d4e;		
	text-align:center;	
}
#Notifications .footerLink a:link {
	padding-left:0px;
}
#Notifications .footerLink a:hover {	
    background-color: #EEEEEE;
}



/* user link */
ul.navItems li.userLink {
	margin-right:-3px;
}

ul.navItems li.userLink a {
    text-decoration: none;
    color: #9090ae;
	transition:color 0.6s;
}
ul.navItems li.userLink a:hover {
	color:white;
	transition:color 0.3s;
}	


		
/* USER MENU */

#UserMenu {
	width: 195px;
	position: absolute;
	top:46px;
	right:30px;
}		
#UserMenu i {
	top: -14px;
	left: 84px;
}



/* STACKED MENU, inside a popover menu */

ul.menuItems {
	margin: 0px;
	padding: 0px;
}
	ul.menuItems li {
		list-style: none;
	}
		ul.menuItems li a {
			display: block;
			font: bold 11px Verdana, Arial, sans-serif;
			color: #2d3d4e;
			text-decoration: none;
			padding: 8px 20px;
			white-space: nowrap;
		}
			ul.menuItems li a:hover {
				background-color: #E3F2FF;
			}

			ul.menuItems li a.roleItem {
				color: #3e99d5;
			}
	ul.menuItems .divider {
		background-color: #E5E5E5;
		height: 1px;
		margin: 9px 0px;
		overflow: hidden;
	}

	

/* TITLE BAR */	
	
#TitleBar {
	/*display:none;*/
	position: relative;
    height: 46px;
    padding: 0px 20px 0px 30px;
	margin-bottom: 40px;
    background-color: #f4f6f7;
    border-bottom: solid 1px #dbe3e4;
}
h1 {
	display:inline-block;
	margin-top:6px;
	font:200 24px 'Open Sans', sans-serif; 
	color: #2d3d4e;
}

ul.titleBarItems li {
	list-style-type: none;
	display: inline;
	position:relative;
	
}

/*
ul.titleBarItems li:last-child { }
*/

ul.titleBarItems li i {
	margin-right:3px;
}



ul.titleBarItems li.actionButton a {
	font-weight:600;
    text-decoration: none;
	color: #EA6309;
	transition:background-color 0.3s;
	padding:3px 10px;
	border-radius:5px;
}
ul.titleBarItems li.actionButton a:hover {
	background-color:#DCDEDF;
	transition:background-color 0.3s;
	border-radius:5px;
}		
ul.titleBarItems li.actionButton.disabled {
	cursor:default;
	pointer-events: none; /*may not work in IE */
	opacity:.40;
}


		
#Content {
	padding: 0px 30px 80px 30px; 
}
		
	

/* FOOTER */

#Footer {
	height: 40px;
	background-color: #f4f6f7;
    border-top: solid 1px #dbe3e4;
    border-bottom: solid 1px #dbe3e4;
    color: #a1a1a1;
}
#Footer hr { display:none; }	
#Footer p {
	margin:0;
	padding:13px 30px 0px 30px;
}