﻿<%@ Page Title="Bulletin" Language="C#" MasterPageFile="~/Popup.Master" AutoEventWireup="true" CodeBehind="ViewBulletin.aspx.cs" Inherits="ReportHq.IncidentReports.ViewBulletin" %>

<asp:Content ID="Content2" ContentPlaceHolderID="phContent" runat="server">

	<asp:Literal ID="litBulletin" runat="server" />

</asp:Content>